extends ../layout
block content
	.mt-5(data-ng-init="setRoute('"+root+"')")
		div(data-ng-init="getList()")
			h3.text-capitalize
				span=root
				small.ml-1 (s)
			.row.mt-5
				.col.col-sm-6.col-md-4.col-lg-3(data-ng-if="data",data-ng-repeat="rec in data")
					.card.mb-3
						picture(data-ng-if="rec.images&&rec.images.length>0")
							source(type="image/webp",data-ng-srcset="/images/"+root+"/{{rec._id+'/'+rec.images[0].webp}}")
							img.card-img-top.p-2(data-ng-src="/images/"+root+"/{{rec._id+'/'+rec.images[0].filename}}")
						.text-center(data-ng-if="!rec.images||rec.images.length==0")
							i.fas.fa-cubes.fa-3x.mt-4
						.card-body
							h3.card-title.text-center.small(data-ng-if="rec.company",data-ng-bind="rec.company")
							h3.card-title.text-center.small(data-ng-if="!rec.company",data-ng-bind="rec.name")
							.text-right.mt-3
								a.btn.btn-sm.btn-link.text-muted(href="/"+root+"/{{rec._id}}") More