extends layout
block content
	include partials/buttonGroup
	.mt-5(data-ng-init="setRoute('"+root+"')")
		div(data-ng-init="getTable()")
			include partials/alerts
			.row.mb-4.d-none.d-lg-flex
				.col.col-1
				.col.col-2.font-weight-bold ID
				.col.col-1.text-left.small.text-dark.font-weight-bold Image
				.col.col-3.col-lg-4.text-left.small.text-dark.font-weight-bold Name
				.col.col-1.small.text-dark.font-weight-bold Date Add
				.col.col-1.small.text-dark.font-weight-bold Date Mod
				.col.col-3.col-lg-2
			.row(data-ng-if="data" data-ng-repeat="rec in data")
				.col.col-1.align-self-center
					button.btn.btn-link.btn-sm(data-ng-click="setActiveTable($index)",ng-disabled="rec.disabled")
						i.far.fa-check-circle.text-success(data-ng-if="rec.active")
						i.far.fa-times-circle.text-danger(data-ng-if="!rec.active")
				.col.col-2.align-self-center.small.text-muted.text-left.d-none.d-lg-block
					small(data-ng-bind="rec._id")
				.col.col-1.d-none.d-lg-block.align-self-center.text-info.px-2
					a(target="_blank",href="/images/"+root+"/{{rec._id+'/'+rec.images[0].filename}}")
						picture(data-ng-if="rec.images&&rec.images[0]")
							source(type="image/webp",data-ng-srcset="/images/"+root+"/{{rec._id+'/'+rec.images[0].webp}}")
							source(type="image/png",data-ng-srcset="/images/"+root+"/{{rec._id+'/'+rec.images[0].png}}")
							img.img-fluid(data-ng-src="/images/"+root+"/{{rec._id+'/'+rec.images[0].jpg}}")
				.col.col-md-3.col-lg-4.align-self-center.text-info
					small(data-ng-bind="rec.name")
					small(data-ng-if="rec.company",data-ng-bind="' ('+rec.company+')'")
					small(data-ng-if="rec.color[0]",data-ng-bind="' ('+rec.color[0].name+')'")
				.col.col-1.align-self-center.text-right.small.d-none.d-lg-block(data-ng-bind="rec.createdAt | date:'dd-MM-yy'")
				.col.col-1.align-self-center.text-right.small.d-none.d-lg-block(data-ng-bind="rec.updatedAt | date:'dd-MM-yy'")
				.col.col-3.col-lg-2.align-self-center.text-right.small.pl-0
					a.btn.btn-link.btn-sm.d-none.d-lg-inline-block(data-ng-if="root!='administrator'",href="/"+root+"/{{rec._id}}",target="_blank")
						i.fas.fa-eye
					a.btn.btn-link.btn-sm(href="/administrator/"+root+"/{{rec._id}}")
						i.fas.fa-edit
					button.btn.btn-link.btn-sm(type="button",data-ng-click="removeSingleTable($index)",ng-disabled="rec.disabled")
						i.fas.fa-trash-alt.text-danger